---
//bg-neutral-100 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(96,165,250,0.5),rgba(255,255,255,0))]
---
<div
    class="fixed top-0 bottom-0 z-[-2] h-screen w-screen
        bg-slate-100
		dark:bg-neutral-950 dark:bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(59,130,246,0.5),rgba(255,255,255,0))]"
>
</div>