---
const sections = [
    {
        name: "Contacto",
        links: {
            Email: "mailto:alcdevr@email.com",
            Github: "https://github.com/j-c7/",
        },
    },
    {
        name: "Media",
        links: {
            Youtube: "https://www.youtube.com/@ReSimianStudio",
            X: "https://x.com/",
        },
    },
    {
        name: "Store",
        links: {
            Itch_io: "https://cyberopsis.itch.io/",
        },
    },
];
---

<footer
    class="absolute inset-x-0 botton-0 w-full bottom-0 mt-auto shadow-md
    bg-opacity-90 
    backdrop-blur-sm
    bg-zinc-200
    text-black

    dark:bg-opacity-80
    dark:backdrop-blur-sm
    dark:bg-slate-900
    dark:text-white"
>
    <div
        class="grid grid-cols-2 py-5 px-7 gap-5 
        sm:flex sm:flex-row sm:justify-start sm:text-xl 
        md:px-7  md:justify-between 
        xl:w-[76rem] xl:mx-auto xl:justify-between xl:px-4"
    >
        {
            sections.map((item) => (
                <section class="flex flex-col">
                    <h1 class="font-bold text-2xl">{item.name}</h1>
                    {
                       Object.entries(item.links).map(l => (
                        <a class="text-black dark:text-white hover:text-blue-700 dark:hover:text-blue-500" href={l[1]} target="_bank">
                            {l[0]}
                        </a>
                       ))
                    }
                </section>
            ))
        }
    </div>
</footer>