---
import SunIcon from "./icons/SunIcon.astro";
import MoonIcon from "./icons/MoonIcon.astro";

const sections = [
    {
        name: "Home",
        label: "home",
        url: "/",
    },
    {
        name: "Tools",
        label: "tools",
        url: "/tools",
    },
    {
        name: "Addons",
        label: "addons",
        url: "/addons",
    },
    {
        name: "Blog",
        label: "blog",
        url: "/blog",
    },
];
---

<header
    class="sticky inset-x-0 top-0 z-10 w-full flex items-center justify-end mx-auto sm:mx-0
    font-bold
    bg-opacity-100 shadow-md
    bg-zinc-200
    dark:bg-opacity-80
    dark:backdrop-blur-sm
    dark:bg-slate-900"
>
    <div class="flex items-center justify-between py-2 px-4 xl:w-[76rem] mx-auto">
        <div class="text-center font-bold text-3xl px-4 text-black dark:text-white">
            ReSimian
        </div>
    
        <nav
            class="flex items-center justify-end py-2 px-4 gap-3   "
        >
            <div class="flex gap-2">
                {
                    sections.map((item) => (
                        <a
                            class="text-lg text-black dark:text-white hover:text-blue-700 dark:hover:text-blue-500"
                            aria-label={item.label}
                            href={item.url}
                        >
                            {item.name}
                        </a>
                    ))
                }
            </div>
            <div
                id="darkmode"
                class="p-1 mb-1 border-l ml-6 pl-6 dark:border-slate-800 border-slate-400 hover:text-blue-700 dark:hover:text-blue-500 text-black dark:text-white"
            >
                <div class="hidden dark:flex">
                    <SunIcon />
                </div>
                <div class="dark:hidden flex">
                    <MoonIcon />
                </div>
            </div>
        </nav>
    </div>
</header>

<script>
    // TODO: El el modo claro/oscuro se movera a un estado usando nanostates en el futuro.
    const darkModeButton = document.querySelector("#darkmode");
    darkModeButton?.addEventListener("click", () => {
        const isDark = document.documentElement.classList.toggle("dark");
        localStorage.setItem("theme", isDark ? "dark" : "light");
    });
</script>

